@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes scroll {
    to {
      transform: translate(-50%);
    }
}

@keyframes scrollrev {
  to {
    transform: translate(50%);
  }
}

::placeholder {
  color: #000;
  opacity: 1;
}

::-webkit-input-placeholder { /* Edge 12 -18 */
  color: #000;
}
